* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 10px 50px;
  position: relative;
  z-index: 1;
}

.bg-logo {
  position: relative;
  display: inline-block;
}

#anh {
  position: absolute;
  z-index: 1;
}
#bg-noel {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 0;
  top: -5px;
  left: -80px;
  height: 60px;
  width: 460px;
}
.weather-location {
  position: relative;
  top: 15px;
  left: 200px;
  z-index: 2;
}
.dropdown {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid #000;
}
.current {
  background: transparent;
  padding-bottom: 10px;
}
.menu {
  display: none;
  position: absolute;
  top: 70%;
  left: -20px;
  width: 200px;
  max-height: 300px;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  z-index: 10;
  border: 1px solid #000;
  text-align: left;
  overflow-y: auto;
}
.menu li {
  background: #fff;
  padding: 5px 10px;
  white-space: nowrap;
}
.menu li:hover {
  background: wheat;
}
.dropdown:hover .menu {
  display: block;
}

#picWea {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: transparent;
}
.weather {
  position: relative;
  top: -20px;
  left: 75px;
  font-size: 14px;
  z-index: 2;
}
.nav-bar {
  display: flex;
  position: relative;
  left: 50%;
  width: 400px;
  height: 20px;
  bottom: 20px;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}
.current1 {
  border-left: 1px solid #000;
  padding-left: 10px;
  margin-left: 10px;
}
#international {
  display: inline-flex;
  width: 115px;
  height: 20px;
  border-right: #000 1px solid;
}
#logo-vnexpress {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#loginBar {
  display: flex;
  position: absolute;
  left: 69%;
  bottom: 40%;
  width: 200px;
}
#loginBar img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
#loginBar a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
main {
  position: relative;
  z-index: 0;
}
.NAV {
  width: 1530px;
  background: #fff;
  position: sticky;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  z-index: 100;
  top: 70px;
}

.NAV nav {
  display: flex;
  align-items: center;
  padding: 6px 100px;
}

.NAV nav img {
  margin-right: 6px;
}

.main-menu {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  gap: 2px;
}

.menu-item {
  position: relative;
}

.menu-item a {
  display: inline-block;
  padding: 6px 8px;
  font-size: 14px;
  text-decoration: none;
  color: #222;
  white-space: nowrap;
}

.menu-item > a:hover {
  color: #0056b3;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 70%;
  left: -20px;
  width: 200px;
  max-height: 300px;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  z-index: 10;
  border: 1px solid #000;
  text-align: left;
  overflow-y: auto;
}
.sub-menu li {
  background: #fff;
  padding: 5px 10px;
  white-space: nowrap;
}
.sub-menu li:hover {
  background: wheat;
}
.sub-menu li a {
  text-decoration: none;
  color: black;
}

.menu-item:hover .sub-menu {
  display: block;
}
.top-story {
  position: relative;
  top: 50px;
  left: 13%;
  right: 0;
}
.container-left {
  position: relative;
  display: flex;
  margin-top: 10px;
  width: 790px;
  height: 330px;
  border-bottom: 1px solid black;
}
.left-content {
  display: flex;
  text-decoration: none;
  color: black;
}
.left-content1 {
  margin-left: 15px;
  text-decoration: none;
}
.left-content1 h2 {
  margin-bottom: 12px;
  color: black;
}
.left-content1 h2:hover {
  color: rgb(100, 100, 184);
}
.left-content1 p {
  margin-bottom: 12px;
  color: black;
}
.container-right-aside {
  position: absolute;
  left: 65%;
  bottom: 95%;
  width: 340px;
  height: 660px;
}
.bottom-story {
  position: relative;
  display: flex;
  top: 80px;
  left: 13%;
  right: 0;
  border-bottom: #000 1px solid;
  width: 790px;
}
.bottom-story > div {
  position: relative;
  margin-top: -20px;
  width: 250px;
  height: 250px;
}
.bottom-content a {
  text-decoration: none;
  color: black;
}
.bottom-content a:hover {
  color: rgb(100, 100, 184);
}
.bottom-container-mid {
  margin-left: 15px;
}
.bottom-container-right-aside {
  margin-left: 15px;
}
.bottom-container-right-aside :first-child {
  margin-bottom: 17px;
}
.author {
  display: flex;
}
.author img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 30px;
}
.left-news-aside {
  position: relative;
  left: 13%;
  border-right: #000 1px solid;
}
.container-left-aside {
  width: 380px;
  height: auto;
  position: relative;
  margin-top: 10.5px;
}
.content-aside a:first-child {
  text-decoration: none;
  color: black;
}
.content-aside a:hover {
  color: rgb(100, 100, 184);
}
.content-aside img {
  width: 145px;
  height: 87px;
  margin-right: 10px;
}

.content-aside-bot a:last-child {
  display: flex;
  margin-top: 15px;
  border-bottom: #000 1px solid;
  padding-bottom: 12px;
}
.content-aside-bot a:last-child p {
  color: rgb(97, 81, 81);
}
.content-aside-bot a:last-child p:hover {
  color: rgb(100, 100, 184);
}
