* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.slider {
  position: relative;
  /* width: 90%; */
  max-width: 1230px;
  background: white;
  padding: 60px 40px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
}

.slides {
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;

  transform: scale(0.95);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease,
    visibility 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #eee;
  color: #333;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev:hover,
.next:hover {
  background: #764ba2;
  color: white;
}

.prev {
  left: 15px;
}
.next {
  right: 15px;
}
